@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.presentacion {
  display: inline-flex;
  flex-direction: row;
  background-color: #fff;
  margin-top: 3em;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 2em;
  height: 15.02em;
  border-radius: 0.6em;
  box-shadow: 0.6em 0.6em 0.6em #404242;
  border-style: solid;
  border-color: rgb(2, 2, 10);
  border-width: revert;
}

.presentacion__part-1{
  display: inline-block;
  width: 15.02em;
  height: 14.6em;
  background-color: rgb(235, 242, 250);
  border-radius: 0.6em;
}

.presentacion__part-1--img{
  width: 12em;
  margin-top: 1.8em;
  margin-left: 1.5em;
  border-radius: 50%;
  filter:brightness(1.4);
}

.presentacion__part-2{
display: inline-block;
padding-top: 3em;
padding-left:0.5em;
width: 16.2em;
height: 14.6em;
}

.presentacion__part-2--text{
  margin-bottom: 2em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.presentacion__part-2--img{
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  object-fit: cover;
}

.presentacion__part-3{
display: inline-block;
margin-left: 1em;
width: 15.02em;
height: 14.6em;
margin-right: 1.4em;
}

#presentacion__part-3--Line-Sup{
margin-top: 4.2em;
height: 0.2em;
background-color: black;
}

#presentacion__part-3--Line-Inf{
margin-top: 0.2em;
height: 0.2em;
background-color:black;
}

.presentacion__part-3--img{
margin-top: 1.4em;
margin-bottom: 1em;
margin-right: 0.5em;
width: 3em;
height: 3em;
transition:width 0.3s, height 0.3s;
}

.presentacion__part-3--img:hover{
  width: 3.2em;
  height: 3.2em;
}

.data{
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 6em;
  margin-right: 6em;
  height: 15em;
  width: 49em;
  border-radius: 0.6em;
  box-shadow: 0.6em 0.6em 0.6em #404242;
  border-style: solid;
  border-color: rgb(2, 2, 10);
  border-width: revert;
}

.data--img{
  top:0.27em;
  width: 1.2em;
  height: 1.2em;
  position: relative;
}

#data--img-1{
  left: 7.8em;
}

#data--img-2{
  left: 8.62em;
}

#data--img-3{
  left: 8.77em;
}

.data-title{
  top: 0.2em;
  left:14em;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
}

.data__formato{
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5em;
  border-top-style: hidden;
  border-bottom-style:solid;
  border-bottom-color: rgb(121, 121, 126);
  box-shadow: 0.6em 0.6em 0.9em rgb(121, 121, 126);
  background-color: #fff;
  display: inline-block;
  height: 3em;
  cursor: pointer;
}

#data__formato--formacion{
  margin-top: 1.6em;
}
#data__formato--proytrab{
  margin-top: 1em;
}
#data__formato--manejsoft{
  margin-top: 1em;
}

.pag {
  /*rgb(66, 122, 161) */
  background: linear-gradient(to top,rgb(45, 64, 79),rgb(70, 136, 184));
  width: auto;
  height: 100vh;
}
