@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*margin-top: 3em;
margin-left: 6em;
margin-right: 6em;
margin-bottom: 3em;
justify-content: flex-start;*/
.presentacion {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 6em;
  margin-right: 6em;
  background-color: #fff;
  height: 15.02em;
  border-radius: 0.6em;
  box-shadow: 0.6em 0.6em 0.6em #e3ffff;
  border-style: solid;
  border-color: rgb(2, 2, 10);
}

.presentacion__part-1{
  display: inline-block;
  width: 15.02em;
  height: 14.6em;
  background-color: rgb(235, 242, 250);
  border-radius: 0.6em;
}

.presentacion__part-1--img{
  width: 12em;
  margin-top: 1.8em;
  margin-left: 1.5em;
  border-radius: 50%;
  filter:brightness(1.4);
}

.presentacion__part-2{
display: inline-block;
text-align: initial;
padding-top: 3em;
padding-left:0.5em;
width: 16.2em;
height: 14.6em;
}

.presentacion__part-2--text{
  margin-bottom: 2em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}
.presentacion__part-2--img{
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  object-fit: cover;
}

.presentacion__part-3{
display: inline-block;
margin-left: 1em;
width: 15.02em;
height: 14.6em;
margin-right: 1.4em;
}

#presentacion__part-3--Line-Sup{
margin-top: 4.2em;
height: 0.2em;
background-color: black;
}

#presentacion__part-3--Line-Inf{
margin-top: 0.2em;
height: 0.2em;
background-color:black;
}

.presentacion__part-3--img{
margin-top: 1.4em;
margin-bottom: 1em;
margin-right: 0.5em;
width: 3em;
height: 3em;
transition:width 0.3s, height 0.3s;
}

.presentacion__part-3--img:hover{
  width: 3.2em;
  height: 3.2em;
}

.Data{
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 6em;
  margin-right: 6em;
  /*El parametro a continuacion debe modificarse para hacer la lista desplegable */
  /*Parametro sin modificaciones en las secciones 15em */
  height: 15em;
  width: 49em;
  border-radius: 0.6em;
  box-shadow: 0.6em 0.6em 0.6em #e3ffff;
  border-style: solid;
  border-color: rgb(2, 2, 10);
  transition: height 0.8s;
}

.Data--img{
  top:0.27em;
  width: 1.2em;
  height: 1.2em;
  position: relative;
}

#Data--img-1{
  left: 8.3em;
}

#Data--img-2{
  left: 8.62em;
}

#Data--img-3{
  left: 8.77em;
}

.Data-title{
  top: 0.2em;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
}

.Data-inf{
  display: inline-flex;
  overflow: hidden;
  transition: height 0.8s,margin 0.4s,border-style 0.8s,opacity 0.8s;
  margin:0em;
}
.Data-section{
  width: 50%;
  height: 100%;
  border-style: none;
  margin: 2em;
  text-align: justify;
}

.Data-section-column{
  margin: 2em;
  width: auto;
  height: 25%;
  text-align: center;
}

.Data-section-column-row-img {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  width: 45%;
  height: 14em;
  border-radius: 2em;
  object-fit: cover;
  overflow: hidden;
}
.Data-section-column-row-Video{
  margin-top: 1em;
  margin-bottom:1em;
  margin-left: 2em;
  width: 45%;
  height: 14em;
  border-radius: 2em;
  object-fit:cover;
  overflow: hidden;
}

.Data-section-title{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.Data-section-title-2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1em;
}
.Data-section-info{
font-family: 'Open Sans', sans-serif;
font-size: 1em;
}

#Data__Formacion-inf{
  /*El parametro a continuacion debe modificarse para hacer la lista desplegable */
  height: 0em;
  opacity: 0;
  flex-direction: row;
}
#Data__ProyTrab-inf{
  /*El parametro a continuacion debe modificarse para hacer la lista desplegable */
  height: 0em;
  opacity: 0;
  flex-direction: column;
}
#Data__ManejSoft-inf{
  /*El parametro a continuacion debe modificarse para hacer la lista desplegable */
  height: 0em;
  opacity: 0;
}

.ManejSoft-inf-img{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 15%;
  height: 50%;
}

.Data__Formato{
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5em;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: ridge;
  border-bottom-style:solid;
  border-bottom-color: rgb(121, 121, 126);
  box-shadow: .6em .6em .9em rgb(121, 121, 126);
  background-color: #fff;
  display: inline-block;
  height: 3em;
  cursor: pointer;
  text-align: center;
}

#Data__Formato--Formacion{
  margin-top: 1.6em;
}
#Data__Formato--ProyTrab{
  margin-top: 1em;
}
#Data__Formato--ManejSoft{
  margin-top: 1em;
}

.pag {
  /*rgb(66, 122, 161) */
  background: linear-gradient(to top,rgb(45, 64, 79),rgb(70, 136, 184));
  background-image: url(/Mi_CV_Gorordo/Img/Fondo_Pantalla.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  transition: heigth 0.8s;
}
.pag-section{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 5%;

}
